<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading usuarios"><h3>Usuarios</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <%= form_tag(users_path, :method => "get", id: "search-form") do %>
            <div class="input-group">
              <%= text_field_tag :search,  params[:search], placeholder: "Buscar usuarios", class: "form-control"%>
              <span class="input-group-btn">
                <%= submit_tag "Buscar", class: 'btn btn-default'%>
              </span>
            </div>
           <% end %>
          </div>
 
      <button type="button" class="btn btn-primary pull-right">
        <%= link_to 'Nuevo usuario', new_user_path %>
      </button>
    </div>
  </div>
</div>


