<%= form_for @user do |f| %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading usuarios">
      <h3>Nuevo Cliente</h3>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2> El formulario posee errores</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6"></div>
      </div>




          <%= render 'form' %>




      
      </div>
    </div>
  </div>

</div>
<% end %>
