    <head> <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  </head>
<div id="my-products">
	<% if @products %>
  		<%= render @products %>
  	<% else %>
  		<p><%= t'no_products' %></p>
  	<% end %>
</div>


<div id="infinite-scrolling">
  <%= will_paginate @products %>
</div>

