// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@font-face {
    font-family: 'Champagne';
    src: url(font-path('Champagne.ttf')) format('truetype');
    font-weight: normal;
    font-style: normal; 
}


/*titulo de la pagina*/

.homepage-central-title{
      position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.home-title{
	font-family: 'Champagne';
	font-size: 150px;

}

h4{
	font-family: 'Champagne';
	font-size: 50px;
	margin-top: -10%;
  margin-left: 70%;

}


/* secciones de la pagina */
#seccion-principal{
  height: 100vh;

}

#seccion-uno{
  height: 100vh;
  background-color: black;
}

.container{
  height: 100%;
}


.producto{
  height: 500px;
  background-color: black;
  color: white;
  margin-top: 100px;
}