#user-profile{
	  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;

  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;

 -webkit-align-items: center; /* Safari */
  align-items:         center;

  -webkit-align-content: space-between; /* Safari */
  align-content:         space-between;

  height: 100%;
  margin: 0;
  padding: 0;
}


.user-profile-container{
  height: 300px;
  width: 300px;
  margin-bottom: 5%;


-webkit-box-shadow: 11px 7px 29px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 11px 7px 29px -22px rgba(0,0,0,0.75);
box-shadow: 11px 7px 29px -22px rgba(0,0,0,0.75);
}

.user-profile-container-color{
  img{
    width: 100%;
    height: 150px; 
  }
}

.user-profile-container-titulo{
  font-size: 2em;
  background-color: rgba(230,230,230,0.5);
}


.container-profile{
  width: 80%;
  margin-left: 10%;
    .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}
.tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
}


